@tailwind base;
@tailwind components;
@tailwind utilities;

/* small admin overrides */
:root {
  --sidebar-bg: rgba(15, 23, 42, 0.95); /* slate-900 translucent */
  --content-bg: #f3f4f6; /* gray-100 */
}
@layer components {
  .input {
    @apply w-full rounded-lg border border-gray-300 px-3 py-2
    text-sm outline-none transition
    focus:border-orange-500 focus:ring-2 focus:ring-orange-100;
  }
}